@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
body{
    overflow-x: hidden;
}
.navbar-toggler{
    border: none;
}
.info_line{
    background-color: #82ae46 !important;
    color: white;
}
.navbar-brand:hover{
    transition: all .5s ease;
    color: #82ae46 !important;
}
.carousel-inner {
    height: 620px !important;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#000000;
    opacity: .2;
    pointer-events: none; 
}
.carousel-caption{
    top: 11rem !important;
    color: white !important;
}
.carousel-caption h1{
    font-family: "Amatic SC", cursive;
    font-size: 8vw;
    letter-spacing: 5px;
}

.anchor-heading{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #82ae46;
    border-radius: 50px;
    font-size: 16px;
    transition: all 1s ease;
    border: 1px solid #82ae46;
}
.anchor-heading:hover{
    color: white;
    border: 1px solid #82ae46;
    background-color: transparent;
}
/* Header end  */
/* Section 1  */
#section_one{
    width: 100%;
    height: auto;
}
.parent_cards{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.img_parent{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #e4b2d6;
}
.second_Card{
    background-color: #dcc698;
}
.third_card{
    background-color: #a2d1e1;
}
.four_card{
    background-color: #dcd691;
}
.cards{
    width: 100%;
    height: auto;
    opacity: 1;
    transition: all .5s;
}
.cards .img_parent:hover{
    background-color: #82AE46;
}
.content_box h4{
    font-size: 18px;
}
.content_box p{
    font-size: 14px;
    color: gray;
}

/* section one end  */
/* section two  */
.img_gallery{
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
}
.first_img{
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.first_img > div{
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    background-color: #82AE46;
}
.first_img > div:hover{
    background-color: #a2d1e1;
}
.shopnow{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #82ae46;
    border-radius: 50px;
    font-size: 16px;
    transition: all 1s ease;
    border: 1px solid #82ae46;
}
.shopnow:hover{
    color: #82AE46;
    border: 1px solid #82ae46;
    background-color: transparent;
}
.gallery_textual h4{
    color: #82AE46;
    font-family: "Amatic SC", cursive;
    letter-spacing: 4px;
}

/* section 3  */
.products_cards{
    position: relative;
    width: 100%;
    height: auto;
}
.product-img{
    position: relative;
    background-repeat: no-repeat;
    aspect-ratio: 1.2/1.1;
    /* height: 200px; */
    transition: all .5s ease;
    margin: auto;
}
.product-img:hover{
    transform: scale(1.01);
    z-index: 0;
}
.product_details{
    position: relative;
    z-index: 1;
}
.new-for-before::before{
    content: "30%";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #82AE46;
    color: white;
    padding: 3px 8px;
    font-size: 14px;
}

.on_hover{
    opacity: 0;
    width: 50%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all .5s ease-in-out;
}
.products_cards:hover .on_hover{
    opacity: 1;
}

/* section 4   */
.section4{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.over_color{
    width: 100%;
    height: 100%;
    background: #8080804d;
    position: absolute;
    z-index: 0;
}

 /* timer  */
 .timer {
    display: flex;
    gap: 5%;
}

.time-unit {
    text-align: center;
    border-left: 1px solid gray;
    padding-left: 20px;
}

.time-unit span {
    display: block;
}


/* section 5   */
.carousel-inner{
    height: auto !important;
}
.testimonial-card {
    background: #fff;
    text-align: center;
}

.testimonial-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial-text {
    font-size: 15px;
    color: #666;
}

.testimonial-role {
    font-size: 13px;
    color: #888;
}

/* section 7  */
#email_sec{
    width: 70%;
    height: auto;
    display: inline-block;
    position: relative;
    background-color: white;
    border: none;
    outline: none;
}
#Subscribe_btn{
    display: inline;
    position: absolute;
    border: none;
    background-color: #82ae46;
    color: white;
    border-radius: 0px;
}
/* footer here  */
.icon-list{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
footer a {
    text-decoration: none;
    color: black;
}